.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #2e110b;
    color: #fff;
    padding: 5px;
    text-align: center;
    opacity: 0.5;   
}

@media screen and (max-width: 600px) {
    .footer {
        display: none;
    }
}

.footer div {
    flex: 1;
    margin: 0;
    font-size: 1em;
}