.ribbon-container {
    padding-top: 50px;
    border-radius: 10px 0 0 10px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    width: 200px;
    height: 50px;
    background-color: rgba(46, 17, 11, 0.9);
    background-image: url('../images/logo_epiculinaire.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.ribbon-content {
    margin: 0px 30px 0px 30px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.ribbon {
    background-color: rgba(46, 17, 11, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    border-radius: 20px;
    width: 50%;
}

.ribbon div {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav{
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  transition-duration: 0.1s;
}

.nav:hover:not(.selected) {
  background-color: #e0a01740;
}

.ribbon .selected {
  background-color: #e0a017;
}

.message {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;    
}

.message div {
    font-size: 28px;
    font-weight: bold;
    padding: 10px; 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: rgba(46, 17, 11, 0.9); 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.deconnexion{
  background-color: rgba(189, 173, 152, 0.61);
  padding: 10px; 
  margin-right: 20px;
  text-align: center; 
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.deconnexion:hover{
  background-color: #9F833B;
}

@media screen and (max-width: 600px) {
  .ribbon {
      width: 100%;
  }
  .logo {
      width: 0px;
  }
}