.tableaux {
    flex: 1;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

.titre_table{
    font-size: 30px;
    font-weight: bold;
    padding: 10px; 
    border-radius: 10px; 
    margin-top: 20px; 
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #9F833B;
    width: 100%;
}

.tableaux .tableau{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.table{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.tableaux thead{
    position: sticky;
    top: 2px;
}

.tableaux th{
    border-radius: 20px;  
    background-color: #9F833B;
    padding: 5px;
}

.tableaux tr{
    border-radius: 20px;  
    background-color: rgba(189, 173, 152, 0.8);
    padding: 5px;
}

.tableaux tr:nth-child(odd){
    background-color: rgba(132, 118, 101, 0.8);   
}

.tableaux tr td{
    font-weight: bold;
    padding: 20px; 
    margin-top: 20px;
    margin-left: 100px; 
    margin-right: 100px;
    transition-duration: 0.1s;
}

.tableaux tr td:first-child{
    border-radius: 20px 0px 0px 20px;  
}

.tableaux tr td:last-child{
    border-radius: 0px 20px 20px 0px;  
}

.tableaux tbody tr td{
    cursor: pointer;
}

.tableaux tbody tr:hover td{
    background-color: #9F833B;
}

.tableaux thead tr td{
    background-color: rgba(46, 17, 11, 0.9);  
    cursor: default;
}